{
      "Comment": "CREATE/DELETE/UPSERT a record ",
      "Changes": [{
      "Action": "UPSERT",
               "ResourceRecordSet": {
                           "Name": "HOSTNAME.PUB_DOMAIN",
                           "Type": "A",
                           "TTL": 300,
                           "ResourceRecords": [{ "Value": "PUBLIC_IP"}]
                }}]
}
